.locationCont{
    width: 100%;
    height: 35px;
    text-align: left;
    color: #888;
    line-height: 35px;
}

.locationCont h1{
    margin: 0;

}

.weatherLocationCont{
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
}

.refresh{
    height: 4em;
    width: 50%;
    margin: auto;
    cursor: pointer;
}